/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

input[type="text"],
input[type="date"],
button {
    margin-bottom: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Styles for index.html */

#indexTitle {
    font-size: 2rem;
}

/* Styles for search.html */

#searchForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.inputGroup {
    display: flex;
    flex-direction: column; /* Change to column layout */
    margin-bottom: 0.5rem;
}

.inputGroup label {
    margin-bottom: 0.2rem; /* Adjust spacing */
    text-align: left;
}

.inputGroup select {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

#busConnectionTable {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
}

#busConnectionTable th, #busConnectionTable td {
    padding: 0.3rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 0.9rem; /* Smaller font size */
}

#busConnectionTable th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 0.9rem; /* Smaller font size */
}

#busConnectionTable tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

#busConnectionTable tbody tr:hover {
    background-color: #e0e0e0;
}

#busConnectionTable td:last-child {
    text-align: center;
}


/* Styles for trips.html */
/* Styles for trips.html and other tables */

#tripTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
}

#tripTable th, #tripTable td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 0.9rem; /* Smaller font size */
}

#tripTable th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

#tripTable tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

#tripTable tbody tr:hover {
    background-color: #e0e0e0;
}

#tripTable td:last-child {
    text-align: center;
}

#tripTable button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Styles for reservation.html */

#tripDetails {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
}

#tripDetails h2 {
    margin-top: 0;
}

#tripDetails p {
    margin: 0.5rem 0;
}


#reservationForm {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reservationForm label {
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
}

#reservationForm input[type="text"],
#reservationForm input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

#reservationForm button {
    width: 100%;
}
